<h1>Books</h1>
<div>
<% @categories.each do |category| %>
 <p><%=link_to category.name, category%></p> 
<% end %>
</div>
<p>Books</p>
<div>
<% @books.each do |book| %>
  <% if book.quantity != 0 %>
     <p> <%=link_to book.title,book%></p>
    <% else %>
      <p><%=book.title%>(Sold out)</p>
    <% end %>
<% end %>
</div>
<%= paginate @books %>
